@import './base';
@import './styles';

@font-face {
    font-family: "Assistant-Light";
    src: local("Assistant-Light"),
    url('../fonts/Assistant-Bold.ttf') format("truetype");
}

*{
    direction: rtl;
    font-family: 'Assistant-Light';
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

html{
    scroll-behavior: smooth;
    font-size: calc(25px + 0.390625vw);
}
.App {
    position: relative;
    display: grid;
    height: 100vh;
    background: $white;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
}

.header-div{
    padding: 1rem;
}
.Menu {
    position: fixed;
    display: grid;
    place-items: center;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translate(-100%);
    transition: all .45s;
    background: black;
    color:white;
}

.Menu.open {
    transform: translate(0);
}

.Menu > .btn-close {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    color: $white;
}

.Menu > .Menu-items {
    display: grid;
    grid-gap: 20px;
    // justify-self: center;
}
.Menu > .Menu-items > a:hover, .select{
    color: $hover_menu_color !important;
}
.select::after {
    transform: scaleX(0.5) !important;
}
.Menu > .Menu-items > a {
    color: $white;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
}

.Menu > .Menu-items > a::after {
    content: "";
    width: 82%;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $hover_menu_color;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all .45s;
    border-radius: 5px;
}

.Menu > .Menu-items > a:hover::after {
    transform: scaleX(0.5);
}

.Menu.open .Menu-items > a:nth-child(1) {
    animation: animate ease-in-out;
    animation-duration: 0.7s;
}

.Menu.open .Menu-items > a:nth-child(2) {
    animation: animate ease-in-out;
    animation-duration: 0.85s;
}

.Menu.open .Menu-items > a:nth-child(3) {
    animation: animate ease-in-out;
    animation-duration: 1s;
}

.Menu.open .Menu-items > a:nth-child(4) {
    animation: animate ease-in-out;
    animation-duration: 1.15s;
}

.Menu.open .Menu-items > a:nth-child(5) {
    animation: animate ease-in-out;
    animation-duration: 1.3s;
}


@keyframes animate {
    0% {
        opacity: 0;
        transform:  translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-btn {
    position:absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: $white;
    cursor: pointer;
    font-size: 50px;
    z-index: 3;
}


/*scroll*/

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

/*title & sub-title */
.titles{
    @include flex;
    flex-direction: column;
    color: white;
}

.imgBackground{
height: 100%; 
background: url('../images/backgroundWide.jpeg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex;
}

h1 {
    color: white;
    font-size: 2.5rem;
}
h2 {
    font-size: 1rem !important;
}

.titles_section_h1{
    position: relative;
    top: 5%;
    right:5%;
}
.title_black{
    color: black;

}
.titles_section_h1::after{
    width: 12rem;
    height: 5px;
    background-image: linear-gradient(180deg,#ffc503 -2%,#fea902 88%);
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
}
.scroller {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    direction: ltr;
}

.scroller section {
    scroll-snap-align: start;
}

section{
    width: 100%;
    height:100vh;
    background-image: radial-gradient(circle at 66% 60%,#4c4a78,#494963 5%,#000 58%)
}

/*SlickCarosual*/
.slick-slider{
    top:20%;
    @include flex;
}
.Img-slick{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/backgroundImg.jpg');
    width: 9rem !important;
    height: 6rem;
    border-radius: 8px;
    transition: all 0.4s ease;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
   
}
.slick-project{
    transition: all 0.4s ease;
    padding: 1rem;
    &:hover{
        padding-top: 0.3rem;
        cursor: pointer;
    }
}
p{
    color:white;
}


.next-btn, .prev-btn{
    &:hover{
        cursor:pointer;
    }
}

.buttons-slider{
    position: relative;
    top: 15vh;
}

.prev-btn, .next-btn{
    border-radius: 30px;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-size: cover;
    margin-left: 1rem;
    border: 1px solid white;
    background-color: transparent;

}

/*List_info*/

.head-title{
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1;
    color:black;
}

.service-item-head span.head-toggle {
    padding-left: 7px;
}

.service-item-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
}
.head-toggle > span{
    font-size: 1rem;
    cursor:pointer;
}

.service-item-body{
    line-height: 1;
    font-size: 0.7rem;
    font-weight: 100;
    overflow: hidden;
    transition: all 1s;
    color:black;
    font-family: "Assistant-Extra-Light";
}
.service-item-body.active{
    padding:0.5rem;
    transition: all .45s;
}
.active{
    height:auto;
    opacity: 1;
}
.inactive{
    height:0rem;
    opacity: 0;
}

.inactive_btn{
    display: none;
}
.active_btn{
    display: block;
}

.div_section{
    width: 80vw;
    padding-right: 5%;
    position: relative;
    top: 10%;
}
.Img_div_ListInfo{
    height: 100%; 
    background: url('../images/background_services.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}