@import './base';
@import './styles';

@font-face {
    font-family: "Assistant-Light";
    src: local("Assistant-Light"),
    url('../fonts/Assistant-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Assistant-SemiBold";
    src: local("Assistant-SemiBold"),
    url('../fonts/Assistant-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "Assistant-Regular";
    src: local("Assistant-Regular"),
    url('../fonts/Assistant-Regular.ttf') format("truetype");
}

*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Assistant-Light';
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

html{
    scroll-behavior: smooth;
    font-size: calc(25px + 0.390625vw);
}
.App {
    position: relative;
    display: grid;
    height: 100vh;
    background: $white;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 2;
}

.header-div{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Menu {
    position: fixed;
    display: grid;
    place-items: center;
    width: 25%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    transform: translate(100%);
    transition: all .45s;
    background: black;
    color:white;
}

.Menu.open {
    transform: translate(0);
}

.Menu > .btn-close {
    font-size: 30px;
    position: absolute;
    right: 0.5rem;
    top: 15px;
    cursor: pointer;
    color: $white;
}

.Menu > .Menu-items {
    display: grid;
    grid-gap: 20px;
    // justify-self: center;
}
.Menu > .Menu-items > a:hover, .select{
    color: $hover_menu_color !important;
}
.select::after {
    transform: scaleX(0.5) !important;
}
.Menu > .Menu-items > a {
    color: $white;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
}

.Menu > .Menu-items > a::after {
    content: "";
    width: 82%;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $hover_menu_color;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all .45s;
    border-radius: 5px;
}

.Menu > .Menu-items > a:hover::after {
    transform: scaleX(0.5);
}

.Menu.open .Menu-items > a:nth-child(1) {
    animation: animate ease-in-out;
    animation-duration: 0.7s;
}

.Menu.open .Menu-items > a:nth-child(2) {
    animation: animate ease-in-out;
    animation-duration: 0.85s;
}

.Menu.open .Menu-items > a:nth-child(3) {
    animation: animate ease-in-out;
    animation-duration: 1s;
}

.Menu.open .Menu-items > a:nth-child(4) {
    animation: animate ease-in-out;
    animation-duration: 1.15s;
}

.Menu.open .Menu-items > a:nth-child(5) {
    animation: animate ease-in-out;
    animation-duration: 1.3s;
}


@keyframes animate {
    0% {
        opacity: 0;
        transform:  translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-btn {
    color: $white;
    cursor: pointer;
    font-size: 50px;
    z-index: 3;
}


.logo{
    z-index: 1;
    position: relative;
    width: 5rem;
    height: 1.3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
}

/*scroll*/

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

/*title & sub-title */
.titles{
    @include flex;
    flex-direction: column;
    color: black;
    position: relative;
}

.imgBackground{
  @include flex;
  @include background('../images/backgroundWide.png'); //mixin in _styles.scss
    // justify-content: flex-start;
}

.title{
    color: white;
}

h1 {
    color: black;
    font-size: 2.5rem !important;
    font-family: "Assistant-SemiBold";

}
h2 {
    font-size: 1rem !important;
}

/*Landing Page*/
.main_content{
    width: 100vw;
    min-height: 100vh;
    background: $background_pages;
    @include flex;
}
.imgLandingPage{
    height: 100%;
    @include flex;
    background-image: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
}

.background_info{
    height: 100%;
    @include flex;
    background: $background_pages;
}
.bg_landing{
    width: 100%;
    height:100%;
}

.hero_div{
    opacity: 0;
    position: absolute;
    background-size:contain;
    background-repeat: no-repeat;
}

.div_hero_girl{
    background-image: url('../images/LandingPage/hero-girl.png');
    width: 14rem;
    height: 22vh;
    right:5rem;
    top: 2rem;
}

.title_landing_page{
    color:white;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.title_landing_page > h1{
    font-family:"Assistant-semiBold";
    font-size: 3.5rem !important;
    color: $title_landing_page;
}
.div_hero_boy_1{
    background-image: url('../images/LandingPage/hero-guy-2.png');
    width: 14rem;
    height: 22vh;
    left:10rem;
    top: 2rem;
}

.div_hero_boy_2{
    background-image: url('../images/LandingPage/hero-guy-3.png');
    width: 14rem;
    height: 22vh;
    right:3rem;
    top: 14rem;
}

.div_hero_boy_3{
    background-image: url('../images/LandingPage/hero-guy-1.png');
    width: 100%;
    height: 44%;
    left:0rem;
    bottom: -2rem;
    opacity: 1 !important;

    left: 50%;
    transform: translateX(-50%);
}


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .div_hero_boy_3 {
        bottom: -10rem;
      }
      
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {
    .div_hero_boy_3 {
        bottom: -7rem;
      }
      .div_hero_boy_2{
        display: none;
      }
      .div_hero_boy_2{
        top: 14rem;
        right: 0;
      }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .div_hero_boy_3 {
        bottom: -5rem;
      }
      .div_hero_boy_2{
        display: none;
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .div_hero_boy_3 {
        bottom: -4rem;
      }
     
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .div_hero_boy_3 {
        bottom: -3rem;
      }
      .div_hero_boy_1{
        display: block;
      }
}

@media only screen and (min-width: 1400px) {
    .div_hero_boy_3 {
        bottom: -1.5rem;
      }
      .div_hero_boy_1{
        display: block;
      }
    }


.bg_pattern_landing{
    width: 100%;
}
.bg_pattern_img{
    height: 100vh;
    background-image: url('../images/LandingPage/hero-pattern-bg.png');
}
  

.titles_section_h1{
    position: relative;
    top: 2rem;
    right: 2rem;
    display: inline;
    width:auto !important;
    color: white;
}
.title_black{
    color: black;
}
.title_white{
    color: white;
}
.titles_section_h1::after{
    width: 60%;
    height: 5px;
    background-image: linear-gradient(180deg,#ffc503 -2%,#fea902 88%);
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
}
.scroller {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    direction: ltr;
}

.scroller section {
    scroll-snap-align: start;
}

section{
    width: 100%;
    height:100vh;
    background-image: radial-gradient(circle at 66% 60%,#4c4a78,#494963 5%,#000 58%)
}

/*SlickCarosual*/

.slick-track{
    width:100% !important;
    display: flex !important;
    direction: ltr;
}

.Img-slick{
    width: 100% !important;
    border-radius: 8px;
    transition: all 0.4s ease;
   >.center-img>img{
    width: 50%;
    height: 50%;
   }
}
.center-img{
    @include flex;
    padding: 1.5rem;
}

.info-slick{
    width: 12rem;
    text-align: left;
    >p, >h2{
        color: white;
        font-size: 0.6rem;
    }
}
.slick-project{
    transition: all 0.4s ease;
    padding: 1.2rem;
    &:hover{
        padding-top: 0.3rem;
        cursor: pointer;
    }
  
}
p{
    color:white;
    font-family: "Assistant-Light";
    font-size: 1rem;
}


.next-btn, .prev-btn{
    &:hover{
        cursor:pointer;
    }
}

.buttons-slider{
    position: relative;
    top: 15vh;
}

.prev-btn, .next-btn{
    border-radius: 4px;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-size: cover;
    padding: 0.3rem;
    margin:0.6rem;
    border: 1px solid white;
    background-color: transparent;
    transition-duration: 0.4s;

    &:hover{
        background: $hover_btn_prevNext;
        path{
            stroke:black;
        }
    }
}

.slick-prev:before, .slick-next::before{
    content: '' !important;
}
.slick-next{
    right:2rem !important;
    top:13rem !important;
}
.slick-prev{
    right: 5rem !important;
    top:13rem !important;
}

.slick-disabled{
    opacity: 0.2;
    cursor: auto !important;
}

/*change react-icons -> <-*/
path{
    stroke: white;
}

/*List_info*/

.head-title{
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    color:black;
}

.service-item-head span.head-toggle {
    padding-left: 7px;
}

.service-item-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    padding-bottom: 0.4rem;

}
.head-toggle > span{
    font-size: 1rem;
    cursor:pointer;
}

.service-item-body{
    line-height: 1;
    font-size: 0.7rem;
    font-weight: 100;
    overflow: hidden;
    transition: all 1s;
    color:black;
    font-family: "Assistant-Extra-Light";
}
.service-item-body.active{
    padding:0.5rem;
    transition: all .45s;
}
.active{
    height:auto;
    opacity: 1;
}
.inactive{
    height:0rem;
    opacity: 0;
}

.inactive_btn{
    display: none;
}
.active_btn{
    display: block;
}

.div_section{
    width: 80vw;
    padding-right: 4%;
    position: relative;
    top: 10%;
}
.Img_div_ListInfo{
    @include background('../images/background_services.jpg')
}

/*Projects*/
// .section_projects{
//     background-image: url('../images/background_projects.jpg');
//     background-position: top;
//     background-repeat: no-repeat;
//     background-size: 100% 60vh;
// }


@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.projects_div{
    @include flex;
    flex-wrap: wrap;
    width: 90%;
    position: relative;
}
.projects_section{
    @include flex;
    position: relative;
    top: 10%;
}
.project{
    background-color: white;
    border-radius: 10px;
    width:13rem;
    height: 13rem;
    margin: 0.8rem;

    overflow:hidden;
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }

    >img{
        transition: all 0.7s ease-in-out;
        width: 21rem;
        &:hover{
            transform: scale(1.1); 
            opacity: 0.7;
        }
    }
}
h5{
    color: black;
    font-size: 0.7rem !important;
    padding:0.2rem;
}

a{
    text-decoration: none !important;
}

.category{
    color:black;
    font-family: "Assistant-Extra-Light";
    padding:0.3rem;
    font-size: 1rem;
    position: relative;
}
.category-header{
    @include flex;
    position: relative;
    top:7%;
    cursor: pointer;
}
    .category::after{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: $hover_menu_color;
        transform: scaleX(0);
        transition: all .45s;
        border-radius: 5px;
    }
    
    .category:hover::after , .category.active_category::after {
        transform: scaleX(0.8) !important;
    
    }
/*BackGroundFadeIn*/


.title_fade, .sub_title_fade{
    color: black;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    opacity: 0;
}

.background_fade {
    @include background("../images/background_fade_in.jpg");
    @include flex;
    flex-direction: column;
}
.title_fade.is-visible , .sub_title_fade.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  /*Info page*/
  .info_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
.gif{
    width: 8rem;
    height: 6rem;
    @include flex;
    flex-direction: column;
}
  .gif > img{
    width: 8rem;
    height: 8rem;
    padding: 1rem;
  }

  .div_gifs{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title_page{
    position: relative;
    top: 2rem;
    right: 2rem;
    width: 10rem;
  }

  .title_page:after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: " ";
    width:65%;
    background:#ef4b6c;
    height:2px;

  }

  .div-img{
    width: 4rem;
    position: absolute;
    left: 1.3rem;
  }

  .div-img > img{
    width: 100%;
    height: 100%;
  }
  .div-p{
    @include flex;
    width: 10rem;
  }
  .gif > .div-p > p{
    color: black;
    text-align: center;
  }

  /*circles*/
  @mixin on-circle($item-count, $circle-size, $item-size) {  
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0; 
    list-style: none;
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      margin: calc($item-size / -2);
      width:  $item-size;
      height: $item-size;
    
      $angle: calc(360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: rotate($rot * 1deg) translate(calc($circle-size / 2)) rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }
  
  .circle-container {
    @include on-circle($item-count: 9, $circle-size: 40em, $item-size: 10em); 
    margin: 0 !important;
    padding: 0 !important;
    border: solid 5px black;
    animation:spin 60s linear infinite;

    img { 
    width: 70%;
    height: 70%;
    display: block; 
    transition: .15s;
       
    }
  }
.circle-div{
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include flex;
    width: 4rem;
    height: 4rem;
}

  @keyframes spin {
    0%{
        transform: none;
    }
    100%{
       transform: rotate(360deg) 
    }
  }

  li{
    @include flex;
  }

  .div-img-circle{
    background-color: $background_circle_icon;
    border-radius: 50%;
    border: solid 2px white;
    width: 3rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
  }
  .div-img-section{
    @include flex;
  }

  .bigEarth{
    width: 10rem !important;
    height: 10rem !important;

  }

  /*About us*/
  .div-about-us{
    justify-content: space-around !important;
    @include flex;
  }

  .people-img-div{
    @include flex;
    flex-wrap: wrap;
   div >p{
        color: black;
    }
  }

  .people-img-div > div{
    width: 5rem;
    height: 5rem;
    @include flex;
    flex-direction: column;
    &:hover{
        filter: grayscale(1);
    }
  }


  .people-img-div > div > img{
    height: 100%;
    padding: 0.5rem;

    &:hover{
        filter: grayscale(1);
    }
  }

  /*Card*/

  .cards-container{
    @include flex;
    background: $background_pages;

  }
  .Card-work{
    @include flex;
    width: 24rem;
    height: 12rem;
    color: black ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 2rem;
    border-radius: 30px;
    >div{
        flex: 1;
    }
    >h1, p{
        color: black !important;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px){
    .Card-work {
        width: 20rem;
      }    
}

@media only screen and (max-width: 700px) and (min-width:500px){
    .Card-work {
        flex-direction: column;
        width: 14rem;
      }    
      .work-image{
        border-radius: 15px 15px 0px 0px !important;
      }
}


  .work-detail{
    @include flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;

    >div{
        text-align: center;
        flex: 1;
        height: 100%;
        
    }
  }
.work-info{
    @include flex;
    flex-direction: column;
}
  .work-image{
    position: relative;
    @include flex;
    height:100%;
   background: linear-gradient(150deg,#c99fff -20%,#4a4eff);
   border-radius: 0px 30px 30px 0px;

  }

  .btn-work{
    border-style: none !important;
    background-image: linear-gradient(135deg,#72e9f3 -20%,#404de6 120%);
    box-shadow: 0 11px 36px 0 rgb(70 89 138 / 25%);
    opacity: 0.9;
    color: white !important;
    >p{
        font-size: 0.7rem;
        color: white !important;
    }
    &:hover{
        background-image: linear-gradient(165deg,#72e9f3 -20%,#404de6 120%);
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
        transform: translateY(-0.2px);
    }
  }

  .div-img-crisp_work{

    @include flex;
    width: 50%;
    >img{
        z-index: 1;
        width: 100%;
        height: 100%;
    }
  }

  .work-image:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background-image: url('../images/work-pattern.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
  }

  /**/
  html{
    overflow-x: hidden;

  }
  .computer_landing_page{
    z-index: 2;
    width: 25rem;
    position: relative;
    top: 1.5rem;
    >img{
        width: 100%;
        height: 100%;
    }
  }

.mouse{
    opacity: 0;
    z-index: 1;
    width: 3rem;
    position: absolute;
    top: 22rem;
    right: 3rem;
}

.mainPic1{
    opacity: 0;
    z-index: 3;
    position: absolute;
    width: 10rem;
    top: 4rem;
    >img{
        width: 100%;
        height: 100%;
    }
}

.mainPic2{
    opacity: 0;
    z-index: 3;
    position: absolute;
    width: 9rem;
    top: 13rem;
    right: 16rem;
    >img{
        width: 100%;
        height: 100%;
    }
}

.circle{
    border-radius: 50%;
    position: absolute;
}
.rectangle{
    width: 2.4rem;
    height: 0.25rem;
    background-color: $pink;
    margin: 0.2rem;
}
.tiny-circle{
    width: 2rem;
    height: 2rem;
}
.very-tiny-circle{
    width:0.3rem;
    height: 0.3rem;
    margin: 0.4rem;
}
.small-circle{
    width: 4rem;
    height: 4rem;
}
.medium-circle{
    width: 5rem;
    height: 5rem;
}
.huge-circle{
    width: 15rem;
    height: 15rem;
}
.huge-circle2{
    width: 25rem;
    height: 25rem;
}
.yellow{
    @include color($yellow);
    top:-7rem;
    left: -7rem;
}
.yellow2{
    @include color($yellow);
    top: 4rem;
    left: 25rem;
}
.pink{
    @include color($pink);
    top: 20rem;
    left: 3rem;
}
.pink2{
    @include color($pink);
    top:10rem;
    left:7rem;
}
.pink-close{
    @include color($pink);
    position: relative;
}
.blue{
    @include color($blue);
    z-index: 0;
    top: 3.5rem;
    right: -10rem;
}
.blue2{
    @include color($blue);
}

.blue-close{
    @include color($blue);
    position: relative;
}
.circle-gray{
    @include color($circle_gray);
    position: relative;
    top: 5rem;
    right: 8rem;
}
.white{
    @include color(#ffffff);
    z-index: 1;
    top: 17.5rem;
    right: 4rem;
}

.text-landing{
    font-size: 2rem;
    font-family: "Assistant-SemiBold" !important;
}

.div-first-word,.div-second-word,.div-third-word{
    opacity: 0;
}
.div-first-word{
    display: flex;
    align-items: baseline;
    position: relative;
}

.div-second-word{
    display: flex;
    align-items: center;
}
.div-third-word{
    display: flex;
    align-items: baseline;
}
.info-gray{
    >p{
    text-align: right;
    color: $gray;
    font-size: 0.6rem;
    }
}


/*menu*/
.href-menu{
    color: $gray;
    margin: 1.2rem;
    font-size: 0.8rem;
    position: relative;
    &:hover{
        color: black;
    }
}


.Menu-items>a:after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    right:0;
    transform: scaleX(0);
    background: $blue;
    transition: all .45s;
    border-radius: 5px;
}


.Menu-items>a:hover:after
{
    transform: scaleX(0.8);
    transform-origin: 100% 100%;

}

.header{
    position: absolute;
    width: 100%;
    padding: 1rem;
    @include flex;
    justify-content: space-between !important;
}

.right-section, .left-section{
    flex: 1;
}

span{
    font-size: 2rem;
}

/*carosual*/
.section-main-content{
    background-repeat: no-repeat;
    background-size: initial;
    top: 0rem;
    right: 12rem;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url('../images/PageScroller/features-pic-1.png')

}
.dark_gray{
    @include color($dark_gray)
}

.title-carosual {
    font-size: 2rem !important;
    color: white;
    font-family: "Assistant-SemiBold" !important;
    text-align: center;
}
.title-carosual-div{
    z-index: 2;
}

.slick-slider{
    width: 60% !important;
    @include flex;
  }

.slick-arrow{
    position: absolute;
    bottom: 6px;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 50% !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    font-size: 0;
    &:hover{
        background: #5956e9 !important;
    }
  }

  .slick-list{
    width: 100vw !important;
  }

//   .status__number,.status__all{
//     font-size: 0.8rem;
//     color: white;
//   }

//   .features__status::before{
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//     -ms-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     width: 40px;
//     height: 1px;
//     background: #fff;
//   }

.animation_color{
    @include color($animation_color);
    z-index: 5;
}

.div-animation{
    @include flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-pic{
    width: 90% !important;
    height: 90% !important;
    margin-left: 5rem;
    margin-top: 3rem;
}
.parllax-div{
    position: relative;
    top: 0;
}

.cardInformation{
    width: 10rem;
    height: 20rem;
    border-radius: 15px;
    @include flex-col;
    margin: 1rem;

}

.pink_orange{
    @include color($pink_orange);
}
.pink_orange > div > div{
    width: 9rem !important;
    top: 0.5rem;
    left: 0.5rem;
}
.purple{
    @include color($purple);
}
.cyan{
    @include color($cyan);
}
.circle-color{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: relative;
    margin:1rem;
}
.circle_pinkOrange{
    @include color($circle_pinkOrange);
    @extend .circle-color;
}

.circle-blue{
    @include color($blue);
    @extend .circle-color;
}

.circle_cyan{
    @include color($circle_cyan);
    @extend .circle-color;
}


.div-info-section{
    background: white;
    border-radius: 15px;
    width: 90%;
    height: 55%;
}
.title_info{
    @include flex-col;
}
.title_info > .small-text{
    font-size: 0.6rem;
    padding: 0.4rem;
    font-family: "Assistant-Regular" !important;

}
.title_info > .regular-text{
    font-size: 0.8rem;
    font-family: "Assistant-SemiBold" !important;
    line-height: 1.1;
    letter-spacing: -0.015em;
}

.pargarph_info{
    font-size: 0.7rem;
    font-family: "Assistant-Regular" !important;
    padding: 1.2rem;
    color: $gray;
}

.div-WatchProject{
    @include flex;
}
.next-div{
    @include flex;
    width: 7rem;
    &:hover{
        .div-img-next{
         left: 0.2rem;
        } 
     }
}

.div-img-next{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    position:relative;
    left: 0;
    transition: all 0.2s ;
    
}
.div-p-next{
    >p{
        font-size: 1.5vw !important;
        margin:0 !important;
        color: black;
    }
}

/*Accordion*/
.header-accordion{
    @include color($blue);
    position: relative;
    @include flex;
    justify-content: space-between !important;
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
    padding: 0.1rem 1.2rem 0.1rem 0.1rem
}
.title-accordion{
    margin-right: 0.5rem;
    color: white;
    font-size: 0.9rem;
    width: 10rem;
}
.icon{
    margin-left: 0.5rem;
}
.header-accordion::before {
    content: "+";
    height:1rem;
    width:1rem;
    font-size:1.5rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:500;
    font-family:courier;
    color:white;
  }
.div-accordion-item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    width: 15.1rem;
    height: 12rem;
    border-radius: 10px;
}

.img-insideAccordion{
    @include background('../images/Accordion/picAccordion.png');
    background-size: contain !important;
}

.info-accordion{
    height: 100%;
    width: 100%;
}