@mixin flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@mixin flex-row{
  @include flex;
  flex-direction: row;
}
@mixin flex-col{
    @include flex;
    flex-direction: column;
}