@mixin flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@mixin flex-row{
  @include flex;
  flex-direction: row;
}
@mixin flex-col{
    @include flex;
    flex-direction: column;
}

@mixin background($urlParam){
  height: 100%; 
  background: url($urlParam);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}